.finalize-page {
    flex: 1;
    width: 100%;
    margin-block: var(--spacing-2xl);
    padding-inline: var(--spacing-s);
    min-height: 100svh;
}

.finalize-page__title {
    grid-column: 1/-1;
    font-size: var(--font-size-2xl);
    font-family: var(--title-font);
    color: var(--color-accent2);
    text-shadow: var(--text-outline);
    filter: drop-shadow(2px 2px 0 var(--color-black)) drop-shadow(2px 2px 0 var(--color-accent1));
}

.finalize-page__order-list {
    padding-right: var(--spacing-m);
    background-color: var(--bg-primary);
    overflow-y: auto;
    max-height: 40svh;
    display: grid;
    gap: var(--spacing-s);
}

.finalize-page__confirmation-wrapper {
    height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--spacing-m);
}

.finalize-page__total-price {
    grid-column: 1/-1;
    justify-self: end;
    font-weight: 600;
}

.finalize-page__comment-form {
    width: 100%;
    display: grid;
    position: relative;

}

.finalize-page__textarea {
    margin-top: var(--spacing-l);
    grid-column: 1/-1;
    min-height: var(--spacing-3xl);
    padding: var(--spacing-s);
    resize: none;
    font-size: var(--font-size-m);
}

.finalize-page__comment-count {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: gray;
    font-size: var(--font-size-m);
}

.finalize-page .text-button {
    justify-self: end;
    box-shadow: 3px 4px 0 0 var(--color-black), 0 0 0 var(--spacing-s) var(--bg-primary);
}