.product-list {
    padding: var(--spacing-s);
}

.product-list__title {
    font-size: var(--font-size-l);
    font-family: var(--bread-font);
}

.product-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
}
