.input-field {
    width: 100%;
    font-family: var(--bread-font);
    margin-block: var(--spacing-xs);
    font-size: var(--font-size-l);
    padding: var(--spacing-xs);
    border-radius: 10px;
    border: 1px solid var(--color-black);
    box-shadow: 3px 3px 0 var(--color-black);
    background: var(--bg-primary);
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.input-field:focus {
    background: var(--color-white);
    /* padding: var(--spacing-s); */
}

@media screen and (max-width: 540px) {
    .input-field {
        font-size: var(--font-size-m);
    }
}
