@font-face {
    font-family: dankosaurus;
    src: url(/fonts/dankosaurus.rounded.ttf);
}

@font-face {
    font-family: alone-on-earth;
    src: url(/fonts/Alone.otf);
}

:root {
    --logo-font: dankosaurus;
    --title-font: alone-on-earth;
    --bread-font: Arial, Helvetica, sans-serif;

    --font-size-s: clamp(0.75rem, 0.7061rem + 0.1951vw, 0.85rem);
    --font-size-m: clamp(1rem, 0.8902rem + 0.4878vw, 1.25rem);
    --font-size-l: clamp(1.25rem, 1.1402rem + 0.4878vw, 1.5rem);
    --font-size-xl: clamp(1.625rem, 1.4604rem + 0.7317vw, 2rem);
    --font-size-2xl: clamp(2rem, 1.561rem + 1.9512vw, 3rem);
    --font-size-3xl: clamp(3rem, 2.561rem + 1.9512vw, 4rem);

    --bg-primary: #fefaf1;
    --bg-dark: #333333;
    --bg-light: #fffefb;

    --color-black: #333333;
    --color-white: white;
    --color-CTA: yellowgreen;
    --color-accent1: #ff9fc5;
    --color-accent2: #82dfff;
    --color-accent3: #f2ac81;

    --shadow-s: 2px 2px 0 var(--color-black);

    --spacing-xs: 0.5rem;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 3rem;
    --spacing-xl: 4rem;
    --spacing-2xl: 8rem;
    --spacing-3xl: 10rem;

    --main-grid: repeat(8, minmax(0, 1fr));
    --max-width: 1180px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    background-color: var(--bg-primary);
    font-family: var(--bread-font);
    background-image: url(/images/blotches/by0-pink-cola-blue.svg), url(/images/blotches/cSe-cola-pink-blue.svg),
        url(/images/blotches/491-blue-pink-cola.svg), url(/images/blotches/dotHb-cola-blue-pink.svg),
        url(/images/blotches/cSe-cola-pink-blue.svg);
    background-position: left 70svh, right 1000svh, right 110svh, left 150svh, right bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

#root {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    display: grid;
    max-width: var(--max-width);
    margin: 0 auto;
}
