.product-list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-m);
}

.product-list-item__title {
    font-size: var(--text-font-l);
    font-family: var(--title-font);
    margin-bottom: var(--spacing-s);
    grid-column: span 8;
    font-weight: 400;
}

.product-list-item__ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    font-size: var(--text-font-m);
    font-family: var(--bread-font);
    list-style: none;
}

.product-list-item__price-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
