.product-list-item {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin-bottom: var(--spacing-m);
}

.product-list-item__title {
    font-size: var(--font-size-l);
    font-family: var(--title-font);
    margin-bottom: var(--spacing-s);
    grid-column: span 8;
    font-weight: 400;
}

.product-list-item__ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    font-size: var(--font-size-m);
    font-family: var(--bread-font);
    list-style: none;
}

.product-list-item__price-wrapper {
    display: grid;
    min-width: 20rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: flex-end;
    gap: var(--spacing-xs);
}