.menu-page {
    margin-block: var(--spacing-xl);
    padding-block: var(--spacing-xl);
}

.menu-page__popular-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-l);
}

.menu-page__menu-wrapper {
    display: grid;
    grid-template-columns: var(--main-grid);
    row-gap: var(--spacing-m);
}