.menu-page {
    margin-block: var(--spacing-2xl);
    padding-inline: var(--spacing-s);
}

.menu-page__popular-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-l);
}

.menu-page__menu-wrapper {
    display: grid;
    grid-template-columns: var(--main-grid);
    row-gap: var(--spacing-m);
}