.product-size-quantity-item {
    height: 100%;
    min-height: 5rem;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}

.product-size-quantity-item__price {
    font-family: var(--title-font);
    font-size: var(--font-size-l);
    color: var(--color-black);
}