.product-size-quantity-item {
    width: fit-content;
    height: 100%;
    padding-inline: 0.5rem;
}

.product-size-quantity-item__price {
    font-family: var(--title-font);
    font-size: var(--font-size-l);
    color: var(--color-black);
}