.footer {
    background-color: var(--bg-dark);
    padding: var(--spacing-xl);
}

.footer__wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-m);
    color: var(--color-white);
    position: relative;
    padding-bottom: var(--spacing-xl);
}

.footer__logo {
    font-size: var(--font-size-xl);
    font-family: var(--logo-font);
    text-align: center;
    margin-bottom: var(--spacing-m);
    cursor: pointer;
}

.footer__list {
    list-style: none;
    margin-bottom: var(--spacing-s);
    width: fit-content;

}

.footer__list-title {
    font-family: var(--title-font);
    font-size: var(--font-size-l);
    margin-bottom: var(--spacing-s);
}

.footer__list-item {
    font-size: var(--font-size-m);
    font-family: var(--bread-font);
    margin-bottom: 0.5rem;
}

.footer__copyright {
    transform: translateY(100%);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1245px) {
    .footer__wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
    }

    .footer__logo {
        grid-column: 1/-1;
        font-size: var(--font-size-2xl);
    }
}

@media screen and (max-width: 890px) {
    .footer__wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .footer__list {
        text-align: center;
    }

    .footer__list:last-of-type {
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 580px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
    }



    .footer {
        padding-inline: var(--spacing-m);
    }
}