.cart {
    place-self: center;
    position: relative;
    user-select: none;
    margin-left: var(--spacing-l);

}

.cart__button {
    filter: drop-shadow(var(--shadow-s));
    position: relative;
    padding: var(--spacing-s);
    margin-right: var(--spacing-s);
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(/icons/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 999;
}

.cart__button--disabled {
    cursor: default;
    opacity: .5;
}

.cart__counter {
    display: grid;
    place-items: center;
    background-color: var(--bg-dark);
    aspect-ratio: 1;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-size-m);
}

.cart__innerwrapper {
    background-color: var(--bg-primary);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    padding: var(--spacing-m) 0 var(--spacing-m) var(--spacing-s);
    gap: var(--spacing-m);
    position: absolute;
    top: 3.2rem;
    right: 0rem;
    min-width: 26rem;
    border-radius: 0 0 6px 6px;
}

.cart__item-list {
    padding-right: var(--spacing-m);
    display: grid;
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: 40vh;
    gap: var(--spacing-s);
    min-width: fit-content;
    list-style-type: none;
}

.cart__total-price {
    border-top: 2px solid var(--color-accent1);
    width: 90%;
    text-align: end;
    padding-top: var(--spacing-s);
    font-size: var(--font-size-l);
    font-weight: 600;
    margin-right: var(--spacing-m);
    justify-self: end;
}

.cart .text-button {
    margin-right: var(--spacing-m);
    justify-self: end;

}

@media (hover: hover) and (pointer: fine) {
    .cart__button:hover {
        transform: translateY(-3px);
    }

    .cart__button--disabled:hover {
        scale: 1;
        transform: none;
    }
}

@media screen and (max-width: 550px) {
    .cart__innerwrapper {
        padding: var(--spacing-xl) 0 var(--spacing-m) var(--spacing-xs);
        background-color: var(--bg-primary);
        grid-template-rows: 1fr auto auto;
        z-index: 998;
        box-shadow: unset;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        min-width: 100%;
    }

    .cart__item-list {
        padding-right: var(--spacing-xs);
        max-height: 100vh;
        gap: var(--spacing-s);
        list-style-type: none;
        grid-auto-rows: 6rem;
    }
}