.password-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
    width: 50vw;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bg-primary);
    align-items: start;
    margin-top: var(--spacing-l);

    button {
        align-self: flex-end;
    }
}
.password-form__title {
    font-size: var(--font-size-l);
    font-family: var(--title-font);
}

.password-form__error {
    color: red;
    font-size: var(--font-size-m);
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease-in-out;
    user-select: none;
    overflow: hidden;
}

.password-form__label {
    font-size: var(--font-size-m);
    display: inline-block;
    width: 100%;
    font-family: var(--bread-font);
}

.password-form__input {
    font-size: var(--font-size-m);
    padding: var(--spacing-xs);
    width: 100%;
    margin-top: var(--spacing-xs);
}

@media screen and (max-width: 850px) {
    .password-form {
        margin-top: 0;
        width: 100%;
        grid-row: 2;
        grid-column: 1 / -1;
        padding: var(--spacing-s);
        padding-bottom: var(--spacing-m);
    }
}
