.profile-nav {
    height: 100%;
    min-height: 50svh;
    width: fit-content;
    padding: var(--spacing-s);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-bottom: var(--spacing-xl);
}

.profile-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.profile-nav__list-item {
    font-size: var(--font-size-xl);
    font-family: var(--title-font);
    cursor: pointer;
}

.profile-nav__list-item--active {
    text-decoration: underline;
    text-decoration-color: var(--color-accent1);
    text-underline-offset: var(--spacing-xs);
}
